<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<system.webServer>
		<iisnode loggingEnabled="false" debuggingEnabled="true" debuggerPathSegment="debug" enableXFF="true" watchedFiles="*.js;public/css/*.css;web.config;*/*.js" promoteServerVars="AUTH_USER" />

		<rewrite>
	      <rules>
	        <rule name="StaticContent">  
	              <action type="Rewrite" url="public{{REQUEST_URI}}"/>  
	        </rule>
	        <rule name="siteid">
	          <match url="/*" />
	          <action type="Rewrite" url="app.js" />
	        </rule>
	      </rules>
	    </rewrite>
		
        <directoryBrowse enabled="true" />
        <defaultDocument enabled="false" />
    </system.webServer>
</configuration>
