<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<system.webServer>
		<iisnode loggingEnabled="false" debuggingEnabled="false" debuggerPathSegment="debug" devErrorsEnabled="false" enableXFF="true" watchedFiles="*.js;public/css/*.css;web.config;*/*.js" promoteServerVars="AUTH_USER" />

		<rewrite>
	      <rules>
	        <rule name="DynamicContent">
	          <action type="Rewrite" url="app.js" />
	        </rule>
	      </rules>
	    </rewrite>
		
        <directoryBrowse enabled="true" />
        <defaultDocument enabled="false" />
    </system.webServer>
</configuration>
