extends layout

      
block content
  .container.c-body-top(ng-controller="adCtrl")
    h1 AD User Information Query
    br
    br
    form#site-form.clearfix.form-horizontal(ng-submit="submitInfo()")
      div.row
        label.col-sm-2.col-sm-offset-1.search-label(for='qword') Search:
        .col-sm-6.search-box
          input#qword.form-control(type="text" ng-disabled="searching" ng-model="username" placeholder="Please enter a windows logon name or firstname.lastname" autofocus)
        .col-sm-3
          h5(ng-class="errMsg.class" ng-bind="errMsg.text")

    #siteinfo.info-box(class="ng-hide" ng-show="userInfo")
      ul.nav.nav-tabs(style="border-bottom: 0")
        li.active
          a.optionsTab(href="#tab1" data-toggle="tab" aria-expanded="true") Account
        li
          a.optionsTab(href="#tab2" data-toggle="tab" aria-expanded="false") Organization
        li
          a.optionsTab(href="#tab3" data-toggle="tab" aria-expanded="false") MemberOf
      .tab-content
        .tab-pane#tab1.active
          table.table.table-striped.table-hover
            tr
              th sAMAccountName
              td(ng-bind="userInfo.sAMAccountName")
            tr
              th cn
              td(ng-bind="userInfo.cn")
            tr
              th name
              td(ng-bind="userInfo.name")
            tr
              th displayName
              td(ng-bind="userInfo.displayName")
            tr
              th description
              td(ng-bind="userInfo.description")
            tr
              th mail
              td(ng-bind="userInfo.mail")
            tr
              th userPrincipalName
              td
                |{{userInfo.userPrincipalName}}&nbsp;
                span(class="ng-hide" ng-show="userInfo.userPrincipalName")
                  a.icon-jabber_icon(ng-href="im:{{userInfo.userPrincipalName}}")
                  |&nbsp;
                  a.icon-mail_send(ng-href="mailto:{{userInfo.userPrincipalName}}")
            tr
              th telephoneNumber
              td(ng-bind="userInfo.telephoneNumber")
            tr
              th accountStatus
              td(ng-bind="userInfo.accountStatus")
            tr
              th dn
              td(ng-bind="userInfo.dn")
            tr
              th whenCreated
              td(ng-bind="userInfo.whenCreated | date:'yyyy-MM-dd HH:mm:ss Z'")
            tr            
              th whenChanged
              td(ng-bind="userInfo.whenChanged | date:'yyyy-MM-dd HH:mm:ss Z'")
            tr  
              th lastLogged
              td(ng-bind="userInfo.lastLogged")
        .tab-pane#tab2
          table.table.table-striped.table-hover
            tr
              th title
              td(ng-bind="userInfo.title")
            tr
              th manager
              td(ng-bind="userInfo.manager")
            tr
              th department
              td(ng-bind="userInfo.department")
            tr
              th company
              td(ng-bind="userInfo.company")
            tr
              th location
              td(ng-bind="userInfo.location")
        .tab-pane#tab3
          table.table.table-striped.table-hover
            tr
              td
                strong Filter:&nbsp;
                input(type="text" ng-model="q")
                |&nbsp;
                button(ng-click="reverseSort()") &#8645;
            tr(ng-repeat="group in userInfo.memberOf | orderBy:'toString()' : reverse | filter:q")
              td(ng-bind="group")