doctype html
html(ng-app="staffApp")
  head
    title ACBSIT NanJing
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    <!--[if gt IE 8]><!-->
    block css
      link(rel='stylesheet', href='/cmdb/css/style.css')
      link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css')
      //-
        link(rel='stylesheet', href='/cmdb/css/bootstrap.min.css')
    block script
      script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js',type='text/javascript')
      script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js',type='text/javascript')
      //-
        script(src='/cmdb/js/jquery.min.js',type='text/javascript')
        script(src='/cmdb/js/bootstrap.min.js',type='text/javascript')
    style.
      body { font: 13px Helvetica, Arial; }
    <!--<![endif]-->

  body
    <!--[if lte IE 8]> Internet Explorer error: "Unfortunately, your browser is too old to work on this website. Please upgrade your browser to the latest version." <![endif]-->
    <!--[if gt IE 8]><!-->
    ul.nav.nav-tabs
      //-
        li(role='presentation')
            img(src='/cmdb/img/atlas_logo.png' style={height:'38px'})
      li(role='presentation',class={active: currentUrl === '/'})
          a(href='/cmdb')
              span.glyphicon.glyphicon-globe
              |&nbsp;Site Info
      li(role='presentation',class={active: currentUrl === '/staff/'})
          a(href='/cmdb/staff/')
              span.glyphicon.glyphicon-user
              |&nbsp;Staff Info
      li(role='presentation',class={active: currentUrl === '/adinfo/'})
          a(href='/cmdb/adinfo/')
              span.glyphicon.glyphicon-list
              |&nbsp;AD Info
      li(role='presentation',class={active: currentUrl === '/ipt/'})
          a(href='/cmdb/ipt/')
              span.glyphicon.glyphicon-phone-alt
              |&nbsp;IPT Info
      li(role='presentation',class={active: currentUrl === '/warranty/'})
          a(href='/cmdb/warranty/')
              span.glyphicon.glyphicon-thumbs-up
              |&nbsp;DELL Warranty
      .loguser-text.pull-right
        if loggedUser
            li
                span= loggedUser
    block content
    block footer
      div(style={position:"fixed",left:"10px",bottom:"5px"})
        |Powered by ACBSIT, Naning, China&nbsp;&copy; 2016-2018 Edmon Jiang
    <!--<![endif]-->