extends layout
    
block content
  .staffContainer(ng-controller="staffCtrl")
    .container
      h1 AC Staff Information Query
      br
      br
      form#site-form.form-horizontal(ng-submit="submitInfo()")
        div.row
          label.col-sm-2.col-sm-offset-1.search-label(for='site') Search:
          .col-sm-6.search-box
            input#qword.form-control(type='text' name="q" ng-disabled="searching" ng-model="form.value" placeholder="firstname.lastname or firstname.lastname@xx.atlascopco.com" autofocus)
          .col-sm-3
            h5(ng-class="errMsg.class" ng-bind="errMsg.text")
        .col-sm-10.col-sm-offset-1
          .panel(style={"text-align":"center"})
            label.radio-inline
              input(type="radio" name="key" ng-model="form.key" id="name" value="name" ng-checked="true" title="firstname.lastname or firstname.lastname@xx.atlascopco.com")
              |Email
            label.radio-inline
              input(type="radio" name="key" ng-model="form.key" id="OperationalManagerAdMail" value="OperationalManagerAdMail" title="Search users by whose manager's email address")
              |Manager's email
            label.radio-inline
              input(type="radio" name="key" ng-model="form.key" id="LocalJobTitle" value="LocalJobTitle" title="Search users by local job title")
              |Local Job Title  
            label.radio-inline
              input(type="radio" name="key" ng-model="form.key" id="CostCenter" value="CostCenter" title="Search users by Cost Center")
              |Cost Center    
            label.radio-inline
              input(type="radio" name="key" ng-model="form.key" id="Department" value="Department" title="Search users by department name")
              |Department

    .siteinfo
      table.table.table-striped.table-hover.table-condensed
        tr
          th Email Address
          th City
          th Division
          th Local Job Title
          th Department
          th OperationalManager
          th Cost Center
          th FAM Code legal unit
          th Company FAM Code
          th Company Name
        tr(ng-repeat="user in users")
          td
            span(ng-bind="user.AdMail")
            a.icon-jabber_icon(class="ng-hide" ng-show="user.AdMail" ng-href="im:{{user.AdMail}}")
          td(ng-bind="user.LocationCity")
          td(ng-bind="user.Division")
          td(ng-bind="user.LocalJobTitle")
          td(ng-bind="user.Department")
          td(ng-bind="user.OperationalManager.split('/')[0]")
          td(ng-bind="user.CostCenter")
          td(ng-bind="user.FamCodeLegalUnit")
          td(ng-bind="user.CompanyFamCode")
          td(ng-bind="user.CompanyName")

append script
  script(src='/public/js/njctrl.js',type='text/javascript')
  script.
    $(function() {
        (function() {
            $("input:radio").on("click", function() {
                var tip = $(this).attr("title");
                $("#qword").attr("placeholder", tip);
            })
        })();
    });