body {
  padding: 0;
  margin: 0;
  overflow-y: scroll;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
.center{
  margin: 0 auto;
  text-align: center;
}
.staffContainer{
  margin: 0 auto;
  width: 90%;
}
.btn-size {
    width: 78px !important;
}
.search-box{
  margin-bottom: 10px;
}
.info-box{
  margin-top: 15px;
  margin-bottom: 30px;
}
.loguser-text{
    margin-top: 12px;
    margin-right: 18px; 
}